.catch-copy{
    background-image:url("image/sky.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.body-container{
    max-width:1140px;
    width:100%;
}


.contact{
    height:7rem;
}


#img-1{
    background-image:url(image/student.jpg);
    background-size:cover;
}
.img-2{
    background-image:url(image/discussion.jpg);
    background-size:cover;
}
.img-3{
    background-image:url(image/pc.jpg);
    background-size:cover;
}
.img{
    display:none;
}
@media(max-width:719px){
    .img{
        display:block;
    }
    .contact{
        height:10rem;
    }
}

.text{
    width:100%;
    height:20rem;
}
.photo{
    height:20rem;
}


